*{
    margin: 0;
    padding: 0;
    background-color: rgb(237, 177, 188);
    font-family: 'Protest Riot', sans-serif;
}

/* .image{
    display: flex;
} */

.photo img{
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    margin-top: 10%;
}

.heading h1{
    text-align: center;
    
    color: rgb(190, 45, 45);
}

#noButton {
    position: absolute;
    margin-left: 140px;
    transition: 0.5s;
    margin-top: 30px;
  }
  
#yesButton {
    position: absolute;
    margin-right: 230px;
    margin-top: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
  }
  
  .btn {
    background-color: #c63062;
    color: white;
    font-weight: 600;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    box-shadow: 0 3px 3px black;
  }
  
  .btn:hover {
    background-color: #ffffff;
    color: #017cff;
  }

  .p{
    text-align: center;
    margin-top: 5%;
    font-size: 26px;
    color: #c63062;
    margin-right: 3%;
  }


  @media screen and (max-width: 768px) {
    

    .heading h1 {
        font-size: 20px; 
        margin-left: 18%;
    }

    .p {
        font-size: 18px; 
        margin-left: 18%;
        margin-top: 10%;
    }

    .btn {
        padding: 10px 20px;
        margin-left: 20%;
        font-size: 14px; 
    }

    
}

@media screen and (max-width: 576px) {
   .photo{
    margin-right: 64%;
    
   }

.heading {
    font-size: 15px;
    margin-right: 10%;
}


    .p {
        font-size: 16px;
        margin-right: 18%;
        margin-top: 15%;
    }

    .btn {
        padding: 8px 16px;
        font-size: 18px;
        margin-left: 20%;
    }
}